body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: plum;
}

header {
    background:purple;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: lavender;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 40px;
    background: rgba(232, 183, 203, 0.995);
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 150px;
    height: 200px;
    border-radius:none;
    margin-top: 10px;
}

ul {
    list-style-position: ;
    padding: 10;
}

.project {
    background: #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: mediumorchid;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: black;
}